body{
	font-family: Verdana, Helvetica, Arial;
	font-size: 12px;
}

#login{
	width: 100%;
	margin-top: 100px;
}

#login fieldset, #login .erro{
	width: 300px;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 10px;
}

#login fieldset, #login fieldset legend{
	border: 1px solid #6C6C6C;
}

#login .erro{
	text-align: center;
	color: red;
	border: 1px solid red;
}

#login fieldset legend{
	padding: 0 15px 0 15px;
	text-transform: uppercase;
}

#login table{
	width: 100%;
}

#login table tr td{
	padding: 10px;
}

#login input[type=text], #login input[type=password]{  
	width: 95%;
	border: 1px solid #6C6C6C;
	padding: 5px;
}

.tudo{
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid black;

}

.conteudo{
	padding: 10px;	
}
.menu{
	float: left;
	width: 250px;
}

.menu form.moldura{
border: 1px solid #6c6c6c;
padding: 10px;	
}
.conteudo{
	border-left: 1px dashed #6c6c6c;
	float: left;
	margin-left: 20px;
	width: 75%;
	
}

.clear { clear: both; }

.menu span, .conteudo span{
	font-weight: bold;
}
.menu .width{
	width: 100%;
}

.menu input[type=submit]{
	width: 100%;
	padding: 10px 0 10px 0;
}

#listagem{
	width: 100%;
}

#listagem thead{
	background: #C9C9C9;
	
}

#listagem tbody tr:nth-child(2n+1) {
	background:#F1F1F1;
}

#listagem tbody tr td{
	padding: 10px;
}
#listagem tbody tr:hover{
	background: #e8c384;
}