#carregando_begin{ width: 100%; text-align: center; margin-top: 5px; display: none; }
#carregando_begin1 { width: 100%; text-align: center; margin-top: 5px; display: none; }
#carregando_login{ width: 100%; text-align: center; margin-top: 5px; display: none; }
#divformInscreverSenha{ display: none; }
#titulo-vestibular { font-size:30px; float: left; margin: 0 0 0 20px; }
#carregando_aceite{ width: 100%; text-align: center; margin-top: 5px; display: none; }
#msg_aceite {display: none;}
.no-margin-bottom { margin-bottom: 0 !important;}
.no-border-top { border-top: 0;}
.no-border {border: 0 !important;}